<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yomoo.yomooweb.mapper.OrderMapper">

    <resultMap id="OrderResult" type="Order" autoMapping="false">
        <id column="id" property="id"/>
        <result column="order_type" property="orderType"/>
        <result column="tips" property="tips"/>
        <result column="created_at" property="createdAt"/>
        <association property="vendor" column="vendor_id" select="selectVendorById"/>
        <association property="buyer" column="farmer_id" select="selectFarmerById"/>
        <collection property="orderEntries" column="id" ofType="OrderEntry" select="selectOrderEntriesByOrderId"/>
    </resultMap>

    <resultMap id="OrderEntryResult" type="OrderEntry" autoMapping="false">
        <id column="id" property="id"/>
        <result column="quantity" property="quantity"/>
        <result column="sell_price" property="sellPrice"/>
        <association property="fv" column="fv_id" select="selectFodderOfVendorById"/>
    </resultMap>

    <resultMap id="FarmerResult" type="Farmer" autoMapping="false">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VendorResult" type="User" autoMapping="false">
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="FodderOfVendorResult" type="FodderOfVendor">
        <id column="id" property="id"/>
        <result column="sell_price" property="sellPrice"/>
        <result column="stock" property="stock"/>
        <association property="fodder" column="fodder_id" select="selectFodderById"/>
        <association property="vendor" column="vendor_id" select="selectVendorById"/>
    </resultMap>

    <resultMap id="FodderResult" type="Fodder" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="fodder_spec" property="fodderSpec"/>
        <result column="description" property="description"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insertOrder" keyColumn="id" keyProperty="id" parameterType="Order" useGeneratedKeys="true">
        INSERT INTO `order` (farmer_id, vendor_id, order_type, tips)
        VALUES (#{buyer.id}, #{vendor.id}, #{orderType}, #{tips})
    </insert>

    <select id="selectOrdersByFarmerId" resultMap="OrderResult">
        SELECT *
        FROM `order`
        WHERE farmer_id = #{farmerId}
        LIMIT 20 OFFSET #{offset}
    </select>

    <select id="selectOrdersByVendorId" resultMap="OrderResult">
        SELECT *
        FROM `order`
        WHERE vendor_id = #{vendorId}
        LIMIT 20 OFFSET #{offset}
    </select>

    <insert id="insertOrderEntry" keyColumn="id" keyProperty="id" parameterType="OrderEntry" useGeneratedKeys="true">
        INSERT INTO order_entry (fv_id, order_id, quantity, sell_price)
        VALUES (#{fv.id}, #{orderId}, #{quantity}, #{sellPrice})
    </insert>

    <select id="selectOrderEntriesByOrderId" resultMap="OrderEntryResult">
        SELECT *
        FROM order_entry
        WHERE order_id = #{orderId};
    </select>

    <select id="selectVendorById" resultMap="VendorResult">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectFarmerById" resultMap="FarmerResult">
        SELECT *
        FROM yomoo.farmer
            INNER JOIN yomoo.user ON yomoo.farmer.id = yomoo.user.id
        WHERE farmer.id = #{id}
    </select>

    <select id="selectFodderOfVendorById" resultMap="FodderOfVendorResult">
        SELECT *
        FROM fodder_vendor
        WHERE id = #{id};
    </select>

    <select id="selectFodderById" resultMap="FodderResult">
        SELECT *
        FROM fodder
        WHERE id = #{id}
    </select>

    <select id="selectOrdersByVendorKeyword" resultMap="OrderResult">
        SELECT *
        FROM `order`
            LEFT JOIN order_entry ON `order`.id = order_entry.order_id
            LEFT JOIN user ON `order`.vendor_id = user.id
            LEFT JOIN farmer ON `order`.farmer_id = farmer.id
            LEFT JOIN fodder_vendor ON order_entry.fv_id = fodder_vendor.id
            LEFT JOIN fodder ON fodder_vendor.fodder_id = fodder.id
        WHERE order_type LIKE '%' #{keyword} '%' OR tips LIKE '%' #{keyword} '%'
              OR fodder_vendor.sell_price LIKE '%' #{keyword} '%' OR quantity LIKE '%' #{keyword} '%'
              OR fodder.name LIKE '%' #{keyword} '%' OR fodder_spec LIKE '%' #{keyword} '%' OR
              user.name LIKE '%' #{keyword} '%'
              AND `order`.vendor_id = #{vendorId}
        LIMIT 20 OFFSET #{offset}
    </select>

    <select id="selectOrdersByFarmerKeyword" resultMap="OrderResult">
        SELECT *
        FROM `order`
            LEFT JOIN order_entry ON `order`.id = order_entry.order_id
            LEFT JOIN user ON `order`.vendor_id = user.id
            LEFT JOIN farmer ON `order`.farmer_id = farmer.id
            LEFT JOIN fodder_vendor ON order_entry.fv_id = fodder_vendor.id
            LEFT JOIN fodder ON fodder_vendor.fodder_id = fodder.id
        WHERE order_type LIKE '%' #{keyword} '%' OR tips LIKE '%' #{keyword} '%'
              OR fodder_vendor.sell_price LIKE '%' #{keyword} '%' OR quantity LIKE '%' #{keyword} '%'
              OR fodder.name LIKE '%' #{keyword} '%' OR fodder_spec LIKE '%' #{keyword} '%' OR
              user.name LIKE '%' #{keyword} '%'
              AND `order`.farmer_id = #{farmerId}
        LIMIT 20 OFFSET #{offset}
    </select>
</mapper>